# Binarios del instalador (demasiado grandes para Git)
installer_output/*.exe

# Caché y autenticación de WhatsApp Web
backend/.wwebjs_auth/
backend/.wwebjs_cache/

# Caché de node_modules
backend/node_modules/.cache/

# Variables de entorno locales
backend/.env

# Clave Privada RSA de Generación de Licencias (NUNCA SUBIR A GIT)
tools/keys/private_key.pem
*.pem.private

